# Created by .ignore support plugin (hsz.mobi)
.env
.gitignore
.manage.py
.idea/.gitignore
.idea/cooking_2.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
__pycache__/

venv/
