{% load i18n %}
{% load static %}
<header class="navigation">

    <!-- Alert -->
    {% include 'partials/alert.html' %}

    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href={% url "index" %}><img class="img-fluid" src="{% static 'images/logo.png' %}"
                                                            alt="parsa"></a>
        <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navogation"
                aria-controls="navogation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse text-center" id="navogation">


            <ul class="nav-tabs navbar-nav ml-auto">
                <li class="nav-item">
                    {% if '/' == request.path %}
                        <a class="nav-link text-uppercase text-dark active" href={% url 'index' %}>Home</a>
                    {% else %}
                        <a class="nav-link text-uppercase text-dark" href={% url 'index' %}>Home</a>
                    {% endif %}
                </li>

                <li class="nav-item">
                    {% if 'about' in request.path %}
                        <a class="nav-link text-uppercase text-dark active" href={% url 'about' %}>about</a>
                    {% else %}
                        <a class="nav-link text-uppercase text-dark" href={% url 'about' %}>about</a>
                    {% endif %}
                </li>
                {% if user.is_superuser %}
                    <li class="nav-item">
                        {% if 'create-blog' in request.path %}
                            <a class="nav-link text-uppercase text-dark active"
                               href={% url 'create-blog' %}>CreateBlog</a>
                        {% else %}
                            <a class="nav-link text-uppercase text-dark" href={% url 'create-blog' %}>CreateBlog</a>
                        {% endif %}
                    </li>
                {% endif %}
                <li class="nav-item">
                    {% if 'contact' in request.path %}
                        <a class="nav-link text-uppercase text-dark active" href={% url 'contact' %}>contact</a>
                    {% else %}
                        <a class="nav-link text-uppercase text-dark" href={% url 'contact' %}>contact</a>
                    {% endif %}
                </li>

                {% if user.is_authenticated %}
                    <li class="nav-item">
                        {% if 'logout' in request.path %}
                            <a class="nav-link text-uppercase text-dark active" href={% url 'logout' %}>logout</a>
                        {% else %}
                            <a class="nav-link text-uppercase text-dark" href={% url 'logout' %}>logout</a>
                        {% endif %}
                    </li>
                {% else %}

                    <li class="nav-item">
                        {% if 'login' in request.path %}
                            <a class="nav-link text-uppercase text-dark active" href={% url 'login' %}>login</a>
                        {% else %}
                            <a class="nav-link text-uppercase text-dark" href={% url 'login' %}>login</a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        {% if 'signup' in request.path %}
                            <a class="nav-link text-uppercase text-dark active" href={% url 'signup' %}>signup</a>
                        {% else %}
                            <a class="nav-link text-uppercase text-dark" href={% url 'signup' %}>signup</a>
                        {% endif %}
                    </li>
                {% endif %}

            </ul>
            <form action="{% url 'search' %}" class="form-inline position-relative ml-lg-4">
                <input class="form-control px-0 w-100" name="keywords" type="search" placeholder="Search">
                <!-- <button class="search-icon" type="submit"><i class="ti-search text-dark"></i></button> -->
                {#                <a href={% url 'search' %} class="search-icon"><i class="ti-search text-dark"></i></a>#}
            </form>
        </div>
    </nav>
</header>
