{% extends 'base.html' %}
{% load static %}
{% load humanize %}


{% block create_blog %}

    <form action="{% url 'create-blog' %}" method="POST" enctype="multipart/form-data">

        {% csrf_token %}
        <p>blog_field : <input type="text" name="blog_field" maxlength="100" required id="blog_field"></p>
        <p>blog_tittle : <input type="text" name="blog_tittle" maxlength="100" required id="blog_tittle"></p>
        <p>blog_text: <input type="text" name="blog_text" maxlength="100" required id="blog_text"></p>
        <p>blog_image: <input type="file" name="blog_image" maxlength="100" required id="blog_image"></p>
        <p><input type="submit" value="Submit"></p>

    </form>


{% endblock %}
