{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}| blog-detail{% endblock %}



{% block blog-single %}

    <!-- page-title -->
    <section class="section bg-secondary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h4>{{ single_blog.blog_tittle }}</h4>
                </div>
            </div>
        </div>
    </section>
    <!-- /page-title -->

    <!-- blog single -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <ul class="list-inline d-flex justify-content-between py-3">
                        <li class="list-inline-item"><i class="ti-user mr-2"></i>Post by Jhon Abraham</li>
                        <li class="list-inline-item"><i
                                class="ti-calendar mr-2"></i>{{ single_blog.published_date | naturaltime }}</li>
                    </ul>
                    <img src="{{ MEDIA_URL }}{{ single_blog.blog_image }}" alt="post-thumb"
                         class="w-100 img-fluid mb-4">
                    <div class="content">
                        <p>{{ single_blog.blog_text }}</p>


                        <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut
                            labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                            nisi
                            ut
                            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                            esse
                            cillum
                        </blockquote>

                        <img src="{{ MEDIA_URL }}{{ single_blog.blog_image }}" alt="image" class="img-fluid">
                        <p>{{ single_blog.blog_text }}</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="widget search-box">
                        <i class="ti-search"></i>
                        <input type="search" id="search-post" class="form-control border-0 pl-5" name="search-post"
                               placeholder="Widget Search">
                    </div>
                    <div class="widget">
                        <h6 class="mb-4">LATEST POST</h6>
                        {% for l in limiting_blog %}
                            <div class="media mb-4">
                                <div class="post-thumb-sm mr-3">
                                    <img class="img-fluid" src="{{ MEDIA_URL }}{{ l.blog_image }}"
                                         alt="post-thumb">
                                </div>
                                <div class="media-body">
                                    <ul class="list-inline d-flex justify-content-between mb-2">

                                        <li class="list-inline-item">{{ l.published_date | naturaltime }}</li>
                                    </ul>
                                    <h6><a class="text-dark" href="blog-detail.html">{{ l.blog_field }}</a>
                                    </h6>
                                </div>
                            </div>
                        {% endfor %}

                        <div class="widget">
                            <h6 class="mb-4">TAG</h6>
                            <ul class="list-inline tag-list">
                                <li class="list-inline-item m-1"><a href="blog-detail.html">ui ux</a></li>
                                <li class="list-inline-item m-1"><a href="blog-detail.html">developmetns</a></li>
                                <li class="list-inline-item m-1"><a href="blog-detail.html">travel</a></li>
                                <li class="list-inline-item m-1"><a href="blog-detail.html">article</a></li>
                                <li class="list-inline-item m-1"><a href="blog-detail.html">travel</a></li>
                                <li class="list-inline-item m-1"><a href="blog-detail.html">ui ux</a></li>
                                <li class="list-inline-item m-1"><a href="blog-detail.html">article</a></li>
                                <li class="list-inline-item m-1"><a href="blog-detail.html">developmetns</a></li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h6 class="mb-4">CATEGORIES</h6>
                            <ul class="list-inline tag-list">
                                <li class="list-inline-item m-1"><a href="blog-detail.html">ui ux</a></li>
                                <li class="list-inline-item m-1"><a href="blog-detail.html">developmetns</a></li>
                                <li class="list-inline-item m-1"><a href="blog-detail.html">travel</a></li>
                                <li class="list-inline-item m-1"><a href="blog-detail.html">article</a></li>
                                <li class="list-inline-item m-1"><a href="blog-detail.html">travel</a></li>
                                <li class="list-inline-item m-1"><a href="blog-detail.html">ui ux</a></li>
                                <li class="list-inline-item m-1"><a href="blog-detail.html">article</a></li>
                                <li class="list-inline-item m-1"><a href="blog-detail.html">developmetns</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!-- /blog single -->

{% endblock %}
