{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">


    <title>Parsa {% block title %}{% endblock %}</title>


    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- ** Plugins Needed for the Project ** -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static '/plugins/bootstrap/bootstrap.min.css' %}">
    <!-- slick slider -->
    <link rel="stylesheet" href="{% static '/plugins/slick/slick.css' %}">
    <!-- themefy-icon -->
    <link rel="stylesheet" href="{% static '/plugins/themify-icons/themify-icons.css' %}">
    <!-- Main Stylesheet -->
    <link href="{% static '/css/style.css' %}" rel="stylesheet">
    <!-- breadcrub Stylesheet -->
    <link href="{% static '/css/breadcrumb.css' %}" rel="stylesheet">
    <!-- Login -->
    <link href="{% static '/css/account/login.css' %}" rel="stylesheet">
    <link href="{% static '/css/account/util.css' %}" rel="stylesheet">

    <!-- signup -->
    <link href="{% static '/css/account/signup.css' %}" rel="stylesheet">

</head>
<body>
<!-- header -->
{% include 'partials/header.html' %}

<!-- preloader -->
{% include 'partials/preloader.html' %}



<!-- featured post -->
{% block featured_post %}{% endblock %}

<!-- blog post -->
{% block posts %}{% endblock %}

<!-- about -->
{% block about %}{% endblock %}

<!-- blog create -->
{% block create_blog %}{% endblock %}

<!-- contact  -->
{% block contact %}{% endblock %}

<!-- search  -->
{% block search %}{% endblock %}

<!-- blog-single -->
{% block blog-single %}{% endblock %}


<!-- account -->
{% block account %}{% endblock %}

<!-- footer -->
{% include 'partials/footer.html' %}


<!-- jQuery -->
<script type="text/javascript" src="{% static '/plugins/jQuery/jquery.min.js' %}"></script>
<!-- Bootstrap JS -->
<script type="text/javascript" src="{% static '/plugins/bootstrap/bootstrap.min.js' %}"></script>
<!-- Popper CDN -->
<script type="text/javascript" src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>


<!-- slick slider -->
<script type="text/javascript" src="{% static '/plugins/slick/slick.min.js' %}"></script>
<!-- masonry -->
<script type="text/javascript" src="{% static '/plugins/masonry/masonry.js' %}"></script>
<!-- headroom -->
<script type="text/javascript" src="{% static '/plugins/headroom/headroom.js' %}"></script>
<!-- reading time -->
<script type="text/javascript" src="{% static '/plugins/reading-time/readingTime.min.js' %}"></script>
<!-- Main Script -->
<script type="text/javascript" src="{% static '/js/script.js' %}"></script>
<!-- Test Script -->
<script type="text/javascript" src="{% static '/js/test.js' %}"></script>

<!-- Modal bootstrap js file -->
<script type="text/javascript" src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
<!-- Modal bootstrap js file -->
<script type="text/javascript" src="{% static 'js/timeOut.js' %}"></script>

</body>
</html>
